// CONTAINER
$container-max-width: 100%;
$container-width: 1010px;

// BREAKPOINT MEDIA
$xxs: 576p;
$xs: 767px;
$md: 991px;
$lg: 1024px;

//COLOR FOR PERSONAL PROJECT
$main-color: #dd7f41;
$white-color: #fff;
$hover-color: rgb(198, 101, 36);

//COLOR FOR PROJECT
$input-active: #1976d2;

//PADDING
$pd: 5rem;

//TIME
$t: 0.4s;



