// CONTAINER
$container-max-width: 100%;
$container-width: 1010px;

// BREAKPOINT MEDIA
$xxs: 576p;
$xs: 767px;
$md: 991px;
$lg: 1024px;

//COLOR FOR PROJECT
$input-active: #1976d2;

//PADDING
$pd: 5rem;

//TIME
$t: 0.4s;
